In [6]:
from sqlalchemy import create_engine
import pyodbc
import pandas as pd
import csv

cstr = "mssql+pyodbc://LAPTOP-IAOQCHN1/StageB?driver=ODBC+Driver+13+for+SQL+Server"
engine =  create_engine(cstr)
# f= pd.read_csv('nybikes3.csv')
# df = pd.DataFrame(f)
openFile = open('nybikes3.csv', 'r')
csvFile = csv.reader(openFile)
header = next(csvFile)
headers = map((lambda x: '`'+x+'`'), header)
insert = 'INSERT INTO Table (' + ", ".join(headers) + ") VALUES "
for row in csvFile:
    print (insert +"("+ ", ".join(values) +");" )
openFile.close()

# i = 0
# for i in range(len(df)):
#     df_entry = pd.DataFrame(df.iloc[[i]])
#     df_entry.to_sql('ny_bikes', con=engine, index=False, if_exists='append')
#     i+=1

# result = engine.execute('select * from dbo.TAX_AGENCY_CHI_2013')

# deps= pd.DataFrame(result.fetchall())
# deps.columns = result.keys()
# deps.head()

NameError: name 'values' is not defined

In [3]:
import odo
odo('nybikes3.csv', 'mysql+pymysql://localhost/test::nyc')

C:\Users\edwar\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
C:\Users\edwar\Anaconda3\lib\site-packages\odo\backends\pandas.py:102: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

TypeError: 'module' object is not callable

In [ ]:
cstr = "mssql+pyodbc://LAPTOP-IAOQCHN1/StageB?driver=ODBC+Driver+13+for+SQL+Server"
engine =  create_engine(cstr)

result = engine.execute('select * from dbo.TAX_AGENCY_CHI_2013')

In [4]:
with open("nybikes3.csv") as myfile:
    head = [next(myfile) for x in range(5)]
print(head)

[',Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype\n', '0,,,,,,,,,,,,,,,,22545.0,1981.0,531.0,40.71893904,-73.99266288,Forsyth St & Broome St,2.0,537.0,40.74025878,-73.98409214,Lexington Ave & E 24 St,11/1/2015 00:00:00,11/1/2015 00:18:31,1110.0,Subscriber\n', '1,,,,,,,,,,,,,,,,23959.0,1980.0,531.0,40.71893904,-73.99266288,Forsyth St & Broome St,1.0,537.0,40.74025878,-73.98409214,Lexington Ave & E 24 St,11/1/2015 00:00:01,11/1/2015 00:18:15,1094.0,Subscriber\n', '2,,,,,,,,,,,,,,,,22251.0,1988.0,498.0,40.74854862,-73.98808416,Broadway & W 32 St,1.0,536.0,40.74144387,-73.97536082,1 Ave & E 30 St,11/1/2015 00:00:05,11/1/2015 00:08:45,520.0,Subscriber\n', '3,,,,,,,,,,,,,,,,15869.0,1981.0,328.0,40.72405549,-74.00965965,Watts St & Greenwich St,1.0,229.0,40.72743423,-73.99379025,Great Jones St,11/1/2015 00:00:15,11/1/2015 00:12:48,753.0,Subscriber\n']